<div class="container">
    <div class="row">
        <!-- Left Section -->
        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
            <div class="sidebar_main">
                <form method="GET" action="#/treatment-center-map/" id="search_form" name="search_form223" __bizdiag="927742349" __biza="WJ__">
                    <input type="hidden" name="srch-keyword" value="">
                    <div class="ul_wrapper_sidebar padding_0">
                        <ul class="main_sidebar padding_0">
                            <!--  category -->
                            <li>
                                <a href="#panel2" class="bg_list_page_search" data-toggle="collapse" data-parent=".ul_wrapper_sidebar"> Category <span class="caret"></span> </a>
                                <ul class="panel-collapse collapse padding_0 in only_border" id="panel2">  
                                    <li> 
                                        <div class="under_ul_wrap_sidebar bg_gray">
                                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 form_wrap_margin new_class_for_label">																									

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input class="form-control category" id="category" value="1" name="catg[]" type="checkbox">												 
                                                    <label for="cat1" class="inline"> 
                                                        Inpatient  </label> 																																								
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input class="form-control category" id="category" value="2" name="catg[]" type="checkbox">												 
                                                    <label for="cat1" class="inline"> 
                                                        Outpatient  </label> 																																								
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input class="form-control category" id="category" value="3" name="catg[]" type="checkbox">												 
                                                    <label for="cat1" class="inline"> 
                                                        Sober Living  </label> 																																								
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input class="form-control category" id="category" value="4" name="catg[]" type="checkbox">												 
                                                    <label for="cat1" class="inline"> 
                                                        Adolescent  </label> 																																								
                                                </div>
                                                <div class="clearfix"></div>		
                                            </div>																															
                                        </div>
                                    </li>
                                </ul>																																																						
                            </li>																							
                            <!--        Advanced Search         -->
                            <li>
                                <a href="#panel1" data-toggle="collapse" data-parent=".ul_wrapper_sidebar" class="bg_list_page_search"> Advanced Search <span class="caret"></span> </a>
                                <ul class="panel-collapse collapse padding_0 in new_class_for_border_list" id="panel1">  
                                    <li> 
                                        <div class="under_ul_wrap_sidebar">
                                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 form_wrap_margin">																									
                                                <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
                                                    <label for="state"> State: </label> 																										
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
                                                    <select id="State" name="state" class="form-control selectpicker">
                                                        <option value="">Select State</option> 
                                                        <option value="ALABAMA">ALABAMA</option> 
                                                        <option value="ALASKA">ALASKA</option> 
                                                        <option value="ARIZONA">ARIZONA</option> 
                                                        <option value="ARKANSAS">ARKANSAS</option> 
                                                        <option value="CALIFORNIA">CALIFORNIA</option>
                                                        <option value="COLORADO">COLORADO</option> 
                                                        <option value="CONNECTICUT">CONNECTICUT</option> 
                                                        <option value="CONNECTICUT">DELAWARE</option> 
                                                        <option value="FLORIDA">FLORIDA</option> 
                                                        <option value="GEORGIA">GEORGIA</option> 
                                                        <option value="HAWAII">HAWAII</option> 
                                                        <option value="IDAHO">IDAHO</option> 
                                                        <option value="ILLINOIS">ILLINOIS</option> 
                                                        <option value="INDIANA">INDIANA</option> 
                                                        <option value="IOWA">IOWA</option> 
                                                        <option value="KANSAS">KANSAS</option> 
                                                        <option value="KENTUCKY">KENTUCKY</option> 
                                                        <option value="LOUISIANA">LOUISIANA</option>
                                                        <option value="MAINE">MAINE</option>
                                                        <option value="MARYLAND">MARYLAND</option>  

                                                        <option value="MASSACHUSETTS">MASSACHUSETTS</option> 
                                                        <option value="MICHIGAN">MICHIGAN</option> 
                                                        <option value="MINNESOTA">MINNESOTA</option> 
                                                        <option value="MISSISSIPPI">MISSISSIPPI</option>
                                                        <option value="MISSOURI">MISSOURI</option> 
                                                        <option value="MONTANA">MONTANA</option> 
                                                        <option value="NEBRASKA">NEBRASKA</option> 
                                                        <option value="NEVADA">NEVADA</option> 
                                                        <option value="NEW HAMPSHIRE">NEW HAMPSHIRE</option> 
                                                        <option value="New jersey">NEW JERSEY</option> 
                                                        <option value="New  Mexico">NEW MEXICO</option> 
                                                        <option value="NEW YORK">NEW YORK</option> 
                                                        <option value="NORTH CAROLINA">NORTH CAROLINA</option> 
                                                        <option value="NORTH DAKOTA">NORTH DAKOTA</option> 
                                                        <option value="OHIO">OHIO</option>
                                                        <option value="OKLAHOMA">OKLAHOMA</option>
                                                        <option value="OREGON">OREGON</option>  

                                                        <option value="PENNSYLVANIA">PENNSYLVANIA</option> 
                                                        <option value="RHODE ISLAND">RHODE ISLAND</option> 
                                                        <option value="SOUTH CAROLINA">SOUTH CAROLINA</option> 
                                                        <option value="SOUTH DAKOTA">SOUTH DAKOTA</option>    
                                                        <option value="TENNESSEE">TENNESSEE</option> 
                                                        <option value="TEXAS">TEXAS</option> 
                                                        <option value="UTAH">UTAH</option> 
                                                        <option value="VERMONT">VERMONT</option>
                                                        <option value="VIRGINIA">VIRGINIA</option>
                                                        <option value="WASHINGTON">WASHINGTON</option>  

                                                        <option value="WEST VIRGINIA">WEST VIRGINIA</option> 
                                                        <option value="WISCONSIN">WISCONSIN</option> 
                                                        <option value="WYOMING">WYOMING</option> 
                                                        <option value="WASHINGTON DC">WASHINGTON DC </option>   

                                                    </select>	

                                                </div>
                                                <p class="monali" style="font-weight: bold; text-align: center"> OR</p>		
                                            </div>
                                            <!--	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 form_wrap_margin">																									

                                                            <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
                                                                    <label for="city"> City: </label> 																										
                                                            
                                                            <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
                                                                    <select id="city" name='city' class="form-control selectpicker city">
                                                                    <option  id="city" value="">Select</option>

                                                                    </select>	 																																			 
                                                            </div>-->
                                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 form_wrap_margin">																									
                                                <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
                                                    <label for="zip"> Zipcode: </label> 																										
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
                                                    <input type="text" class="form-control zip" value="" name="zip" id="zip" placeholder=""> 
                                                </div>		
                                            </div>		
                                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 form_wrap_margin">																									
                                                <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
                                                    <label for="miles"> Select Miles: </label> 																										
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
                                                    <select id="miles" name="distance" class="form-control selectpicker miles">
                                                        <option selected="" value="">Select Miles</option> 
                                                        <option value="10">10 miles</option> 
                                                        <option value="20">20 miles</option> 
                                                        <option value="50">50 miles</option> 
                                                        <option value="100">100 miles</option> 
                                                        <option value="250">250 miles</option> 
                                                        <option selected="" value="">Unlimited</option> 
                                                    </select>

                                                </div>		
                                            </div>																															
                                        </div>
                                    </li>
                                    <li id="ajax_submit">
                                        <input type="submit" name="center_filter" class="btn btn-primary border_radius_add modal_btn text-center" value="submit">
                                    </li>																									
                                </ul>																																																						
                            </li>																		
                        </ul>																 				
                    </div>
                </form>	
            </div> <!--  sidebar main ends  -->
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 padding_0 ">
                <!--<div class="right_content ">
                        <h2>
                                <label>Advertisements</label>
                        </h2>
                </div>-->
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 padding_0">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 padding_0 ">
                        <div class="banner_adjust">				
                            <a href="http://www.eliterehabplacement.com/?__hstc=72872396.dfea387372fa09d2d151b12397ca4d02.1488447716884.1488452278276.1488521541526.3&amp;__hssc=72872396.2.1488521541526&amp;__hsfp=918958462"><img class="" ng-src="{{ entry.elite_image}}"></a>
                        </div>
                    </div>				


                    <!--<div class="right_content ">
                            <h2>
                                    <label>Advertisements</label>
                            </h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 padding_0">
                            <div class="google_ads">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                            <img src="/images/google.jpg">
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                            <a href="javascript:void(0);"><img src="/images/google.jpg"></a>
                                    </div>
                            </div>
                    </div>
                    -->

                </div>
            </div>																 
        </div>
        <div ng-if="hide_map == 'show'">
            <!-- Right Section  -->	
            <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 text_deco">
                <label> Begin your search by clicking on the state you're considering going to treatment in, or using the advanced search on the left </label>                
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
                <div class="heading_main_div">
                    <h2>
                        <label>Treatment Centers </label>																				
                    </h2>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12"></div>
                    <!--- Map content  Start   -->
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <div onselectstart="return false;" class="unselectable">
                            <div id="mapwrapper">
                                <div id="map_base">
                                    <state-Map></state-Map>
                                </div>	
                            </div>							
                        </div>	
                    </div>						
                    <!--- Map content End -->
                </div>
            </div>
        </div>
        <div ng-if="hide_map == 'hide'">
            <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
                <div class="heading_main_div">
                    <h2>
                        <label>Treatment Centers </label>																				
                    </h2>		
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padding_0 listing_wrapper_inner">

                    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12" ng-repeat="listing in search_by_filter.data.listings">
                        <div class="listing_block">
                            <div class="block_img">
                                <a class="thumbnail" ng-href="#/treatment_center/{{listing.id}}/detail"> <img class="" ng-src="{{ listing.listing_image}}"> </a>
                            </div>
                            <div class="block_content">
                                <div class="block_heading">
                                    <h2 class="feat_head"><a ng-href="#/treatment_center/{{listing.id}}/detail">{{ listing.center_name}}</a></h2> </div>
                                <p> {{ listing.description}} </p>
                            </div> <a ng-href="#/treatment_center/{{listing.id}}/detail">View Listing</a> </div>
                    </div>


                </div>														
            </div>

        </div>							
