<div class="test-center-details">
    <section-heading>Test centers and their details</section-heading>
    <!-- Content Starts -->
    
	<div class="row">
		<div class="progress-img-wrap">
			<div class="progress-img">						
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="adn-row">
                    <div class="col-md-12 table-pay" ng-if="$ctrl.cartDetails.length!==0">
                        <div class="row bold-th">
                            <div class="col-md-4">
                                <label>CENTER NAME</label>
                            </div>
                            <div class="col-md-4">
                                <label>PRODUCT</label>
                            </div>
                            <div class="col-md-2">
                                <label>ACTION 1</label>
                            </div>
                            <div class="col-md-2">
                                <label>ACTION 2</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 bordered">
                                <div class="col-md-4">
                                    <span style="cursor:pointer;" class="fix-left"><i class="fa fa-plus" ></i></span>
                                    <span>Center 1</span>
                                </div>
                                <div class="col-md-4">
                                    <span>Gold Membership</span>
                                </div>
                                <div class="col-md-2 text-center">
                                    <span><i class="fa fa-long-arrow-up" ></i></span>
                                </div>
                                <div class="col-md-2 text-center">
                                    <span><i class="fa fa-long-arrow-down" ></i></span>
                                </div>
                            </div>
                            <div class="col-md-12 bordered">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <span style="cursor:pointer;">Sponsorship</span>
                                    <div class="col-md-12">
                                        <span>California</span>
                                    </div>
                                    <div class="col-md-12 ">
                                        <span>Alcohol</span>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <span><i class="fa fa-plus" style="background: transparent;color: #fff;"></i></span>
									
                                </div>
                                <div class="col-md-2 text-center">
									<div class="col-md-12"><span><i class="fa fa-long-arrow-up" style="visibility:hidden;"></i></span></div>
									<div class="col-md-12">
                                        <span><i class="fa fa-trash" ></i></span>
                                    </div>
									<div class="col-md-12">
                                        <span><i class="fa fa-trash" ></i></span>
                                    </div>
                                </div>
                            </div>
							<div class="col-md-12 ">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <span style="cursor:pointer;">Ads</span>
                                    <div class="col-md-12">
                                        <span>Header</span>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                   <span><i class="fa fa-pencil" ></i></span>
                                </div>
                                <div class="col-md-2 text-center">
									<span><i class="fa fa-long-arrow-up" style="visibility:hidden;"></i></span>
									<div class="col-md-12">
                                        <span><i class="fa fa-trash" ></i></span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
						<div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <span style="cursor:pointer;" class="fix-left"><i class="fa fa-minus" ></i></span>
                                    <span>Center 2</span>
                                </div>
                                <div class="col-md-4">
                                    <span>Platinum Membership</span>
                                </div>
                                <div class="col-md-2 text-center">
                                    
                                </div>
                                <div class="col-md-2 text-center">
                                    <span><i class="fa fa-long-arrow-down" ></i></span>
                                </div>
                            </div>
                            <div class="col-md-12 bordered">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <span>Feature</span>
                                    
                                </div>
                                <div class="col-md-2 text-center">
                                    <span></span>
                                </div>
                                <div class="col-md-2 text-center">
								<span><i class="fa fa-trash" ></i></span>
                                </div>
                            </div>

                            
                        </div>
						
						<div class="row">
                            <div class="col-md-12" style="padding: 15px">
                                <div class="col-md-4">
                                    <span style="cursor:pointer;" class="fix-left"><i class="fa fa-minus" ></i></span>
                                    <span>Center 3</span>
                                </div>
                                <div class="col-md-4">
                                    <span>Gold Membership</span>
                                </div>
                                <div class="col-md-2 text-center">
                                    
                                </div>
                                <div class="col-md-2 text-center">
                                    <span><i class="fa fa-long-arrow-down" ></i></span>
                                </div>
                            </div>
                            
                            
                        </div>

                    </div>
                </div>
            </div>
			<div class="test-center-footer">
			<div class="col-md-4"><p class="font-normal"><a href="javascript:;" ng-click="$ctrl.goBack()">Back</a></p></div>
			<div class="col-md-4"><p class="font-normal" style="left:72%;"><a href="javascript:void(0)" >Go to cart</a></p></div>
			<div class="col-md-4"><p class=""><a href="javascript:void(0)" class="ng-scope">Next</a></p></div>
			</div>

			
			
			
			
        </div>
	   </div>
    </div>
</div>