<div class="container">
  <div class="row contact_us_otr">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 contact-left">
      <h2 class="contct_heding">Inquiry for Treatment Type</h2>
      <p>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.customer();">Customer</button>
      </p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h2 class="contct_heding text-right">Inquiry for Treatment Center</h2>
      <p class="text-center">
        <button type="button" ng-click="$ctrl.treatment();" class="btn btn-primary">Treatment Center</button>
      </p>
    </div>
    <!-- <side-panel></side-panel> -->
  </div>
</div>
