<div class="container progress-content">
<div class="progressbar">
<div class="col-md-6 col-md-offset-6">
  <div class="progress progress-grediant">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10"
    aria-valuemin="0" aria-valuemax="100" style="width:10%">
      <span class="stick-me">10%</span>
    </div>
  </div>
</div>
</div>
  <div class="clearfix"></div>
  <div class="progress-content-one">
      <div class="col-md-6">
        <div class="progress-img-wrap">
          <div class="p-form-title">Sign-up form</div>
          <div style="background-image: url('themes/addiction/images/png/illustrations-Man-Explains.png');" class="progress-img">
          </div>
          <div class="p-form-desc">You are just one step away from listing your center!!</div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="psignup-form">
            <form class="psignup-form">
              <div class="col-md-6 lpad0">
                <div class="form-group">
                  <input type="text" class="form-control" id="fname" placeholder="First Name" ng-model="$ctrl.first_name">
                </div>
              </div>
              <div class="col-md-6 lpad0 rpad0">
                <div class="form-group">
                  <input type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="$ctrl.last_name">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="cname" placeholder="Company Name" ng-model="$ctrl.company_name">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" id="phone" placeholder="User Phone no" ng-model="$ctrl.phone_num">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="User Email ID" ng-model="$ctrl.email">
              </div>
              <div class="form-group">
                <input type="{{showpassword ? 'text' : 'password'}}" class="form-control" id="pwd" placeholder="Password"  ng-model="$ctrl.password">
                <span class="fix-right" ><i class="fa fa-eye fa-2x" ng-model="showpassword" ></i></span>



                <!--  -->
                <!-- <input ng-show="showpassword" type="text" ng-model="password"> -->
                <!-- <input ng-hide="showpassword" type="password" ng-model="password"> -->
                <!-- <input type="{{showpassword ? 'text' : 'password'}}" ng-model="password">
                <input type="checkbox" ng-model="showpassword" ng-checked="false"> -->
                <!--  -->
              </div>
            </form>

          </div>
    </div>
    <p class="stick-next"><a href="javascript:void(0)" ng-click="$ctrl.userCreate()">Next</a></p>
  </div>
</div>
