<!-- {{$root.cityModel}} {{$root.countyModel}} -->
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-md-12 margin-left" style="margin-top:25%;">
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-xs-6">
          <h5>
            <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
        </div>
        <!-- <div class="col-xs-6">
        <button type="button" ng-click="$ctrl.continueShop()" class="btn btn-primary btn-sm btn-block">
          <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
        </button>
      </div> -->
      </div>
    </div>
  </div>
</div>
<table class="responstable">
  <tbody>
    <tr>
      <th>Treatment Center</th>
      <th>State</th>
      <th>City</th>
      <th>County</th>
      <th>Demographic</th>
      <th>Treatment Approach</th>
      <th>Payment</th>
      <th>Additional Services</th>
      <th>Setting</th>
      <th>By Drug</th>
      <th>Total</th>
      <th>Delete</th>
    </tr>
    <!--state-->
    <tr ng-repeat="(key,state) in $root.statesSel">
      <td>
        Treatment Center
      </td>
      <td>{{state}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>15</td>
      <td>
        <button type="button" ng-click="$ctrl.deleteCartItem(key,'state')" class="btn btn-link btn-xs">
          <span class="glyphicon glyphicon-trash"> </span>
        </button>
      </td>
    </tr>
    <!--city -->
    <tr ng-repeat="(key,cities) in $root.cities">
      <td>
        Treatment Center
      </td>
      <td></td>
      <td>{{cities.name}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{cities.price}}</td>
      <td>
        <button type="button" ng-click="$ctrl.deleteCartItem(key,'city')" class="btn btn-link btn-xs">
          <span class="glyphicon glyphicon-trash"> </span>
        </button>
      </td>
    </tr>
    <!--county -->
    <tr ng-repeat="(key,counties) in $root.counties">
      <td>
        Treatment Center
      </td>
      <td></td>
      <td></td>
      <td>{{counties.name}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{counties.price}}</td>
      <td>
        <button type="button" ng-click="$ctrl.deleteCartItem(key,'county')" class="btn btn-link btn-xs">
          <span class="glyphicon glyphicon-trash"> </span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="panel-footer">
  <div class="row text-center">
    <div class="col-xs-12">
      <h4 class="text-right">Total
        <strong>${{$root.total}}.00</strong>
      </h4>
    </div>
    <!-- <div class="col-xs-3">
      <button type="button" class="btn btn-success btn-block">
        Checkout
      </button>
    </div> -->
  </div>
</div>
